@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    font-family: roboto, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.burguer-menu{
    margin: auto;
    text-align: center;
    width: 2em;
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 5px 0;
    margin-top: 20px;
    transition: all 400ms;
}

main{
    background-color: #ebebeb;
    margin: auto;
    width: 100%;
}

.carro{
    color: #39b54a;
}
#lupa-uno{
    position: absolute;
    right: 13px;
    font-size: 15px;
    top: 15px
}
.links-encabezado{
    color: #222222;
    text-decoration: none;
    display: inline-block;
    padding: 2px 0;
}
.link-enviar{
    color: white;
    text-decoration: none;
}
header{
    background-color: #EAC926;
    margin: 0;
    padding: 20px;
}

.menu-azul{
    font-size: 10px;
    margin: 0;
}

.centered{
    text-align: center;
    margin:auto 5px;
}
h3{
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}
.precio{
    font-size: 18px;
    width: 30%;
    text-align: left;
}
.descuento{
    font-size: 14px;
    color: #39b54a;
    width: 60%;
    white-space: nowrap;
    text-align: left;
}
.descripcion{
    font-size: 18px;
    margin-top: 15px;
    display: none;
}

article{
    margin: auto;
    object-fit: contain;
    width: 90vw;
}
article img{

    object-fit: contain;
    margin: auto;
    width: 80%;

}
.main-article{
    border-top: #ebebeb 1px solid;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    background-color: white;
    padding: 15px;
    width: 90%;
    margin-bottom: 10px;
    object-fit: contain;
    position: relative;
    transition: 400ms;
}
.main-article:hover{
    box-shadow: 0px 0px 17px 16px rgba(100, 100, 100, 1);
    transform: scale(1.05, 1.05);
}

.main-article:hover .descripcion{
    display:block
}
.productos{
    border-top: #ebebeb 1px solid;
    margin: auto;
    margin-top: 0;
    background-color: white;
    width: 90%;
    margin-bottom: 10px;
    position: relative;
}
.foto{
    margin: auto;
    text-align: center;
}

.mercadologologo{
    background-color: #EAC926;
    width: 40vw;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.busqueda1{
    text-align: center;
    width: 70%;
    margin:auto;
    padding: 10px;
    position: relative;
    
}
.buscar-productos{
    width: 80%;
}
.logobarra-mitad{
    display: flex;
}
h2{
    font-weight: 400;
    text-align: center;
    margin: 0;
}

footer{
    text-align: center;
    padding: 15px;
    margin-top: 8px;
}

footer h3{
    font-weight: bold ;
}
.busqueda{
    margin-left: 10px;
}
.banner{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
footer i.fa-solid{
    color:blue;
    font-size: 20px;
    text-align: center;
}
h4{
    margin-bottom: auto;
}
.pie{
    margin-top: auto;
    margin-left: 5px;
    margin-right: 5px;
}
main section article i{
    font-size: 16px;
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: #39b54a 1px solid;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    left: 90%;
    top: -15px;
}
.fa-truck{
    transition: all 400ms;
}
.main-article:hover .fa-truck{
    transform: rotate(-90deg);
}
.precio-descuento{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.copyright{
    margin: auto;
    margin-top:50px
}
.formulario-registro{
    text-align: left;
    padding: 15px;
    display: block;
}
a{
    transition: all 400ms
}
a:hover{
    transform: scale(1.15, 1.15);
}
.estilos-formulario{
    padding: 15px;
}
.datos-formulario{
    border-radius: 5px;
    border: 0;
    width: 100%;
    height: 30px;
}
.negritas{
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}
.radios{
    padding: 10px;
}
.vendedor-comprador{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.intereses{
    display:inline;
    margin: 10px 0
}
.botones{
    display: flex;
    justify-content: space-around;
}
.formulario-ingreso{
    padding-top: 50px;
    padding-bottom: 50px;
}
.boton-login{
    margin-top: 30px;
    width: 95%;
    height: 30px;
    background-color: #39b54a;
    border-radius: 5px;
    border: 0;
    transition: all 400ms;
}
.boton-login:hover{
    background-color: #0022AA;
}
.boton-register{
    width: 30%;
    height: 30px;
    background-color: #39b54a;
    border-radius: 5px;
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    transition: all 400ms;
}
.boton-register:hover{
    background-color: #0022AA;
}
#buscador-productos{
    border:0;
    height: 25px;
    width: 30vw;
    border-radius: 5px;
}
.iconos-pie{
    transition: all 400ms;
}
.iconos-pie i{
    transition: all 1200ms;
}
.iconos-pie:hover i{
    color: #39b54a;
    transform: scale(1.3, 1.3) rotate(720deg);
}

@media(max-width: 575px){
    .descripcion{
        display: none;
        transition: all 400ms ;
    }
    .main-navbar{
        display: none;
    }
}
.main-article:hover + .descripcion{
    display: contents;
}

@media(min-width: 576px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burguer-menu{
        display: none
    }
    .todos-articulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   
    .main-article{
        width: 45%;
        margin: 5px;
        justify-content: space-between;
    }
}
@media(min-width: 821px){
   
    .main-article{
        width: 23%;
        transition: all 400ms;
    }
    .main-article:hover{
        transform: scale(1.05, 1.05);
    }
    .main-header{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burguer-menu{
        display:none
    }
    .todos-articulos{
        display: flex;
        flex-wrap: wrap;
    }
   .main-navbar{
        display: flex;
        justify-content: space-around;
    }
    .centered{
        width: 30%;
        text-align: right;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    .descuento{
        text-align: center;
        font-size: 12px;
    }
    .precio{
        font-size: 16px;
    }
    .flex-footer{
        display: flex;
        justify-content: space-between;
    }
    .datos-formulario{
        border-radius: 5px;
        border: 0;
        width: 70%;
        height: 30px;
        text-align: center;
        margin: 0 15%;
    }
    .boton-login{
        width: 68.15%;
        height: 30px;
        text-align: center;
        margin: 15px 15%;
    }
}
@media(min-width: 1012px) {
    .descuento{
        text-align: left;
        font-size: 14px;
    }
    .precio{
        font-size: 16px;
    }
}

@media(min-width: 1200px){
    .main-header, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header{
        align-items: center;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }
    .centered{
        max-width: none;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
    }
}
@media(max-width: 820px){
    #lupa-uno{
        position: relative;
        right: 22px;
        font-size: 15px;
        top: 2px;    
    }
}
@media(max-width:313px){
    #lupa-uno {
        position: relative;
        left: 38px;
        font-size: 15px;
        top: -20px;
    }
}